---
import type { Command as Props } from '../utils/commands';
import { Image } from 'astro:assets';

const { name, description, args, example, image } = Astro.props;
---

<span class="command flex flex-col py-5 gap-3">
  <h4 class="title"><code>/{name}</code></h4>
  <span class="description">{description}</span>

  {
    args && (
      <span class="arguments">
        <p>🪄 This command accepts the following arguments:</p>

        <table>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Required</th>
          </tr>

          {args.map((arg) => (
            <tr class="text-center">
              <td>{arg.name}</td>
              <td>{arg.description}</td>
              <td>{arg.optional !== true ? '✅' : '❌'}</td>
            </tr>
          ))}
        </table>
      </span>
    )
  }
  {
    example && (
      <span class="example">
        Example:
        <code>
          /{name} {example}
        </code>
      </span>
    )
  }

  {
    image && (
      <details>
        <summary class="cursor-pointer">View example image</summary>
        <Image src={image} alt={`Example usage for the ${name} command`} />
      </details>
    )
  }
</span>

<hr />
