---
import type { Command as Props } from '../utils/commands';
import { Image } from 'astro:assets';

const { name, description, args, example, image } = Astro.props;
---

<span class="command">
  <h4 class="title"><code>/{name}</code></h4>
  <span class="description">{description}</span>

  {
    args && (
      <span class="arguments">
        <h4 class="bold">Arguments:</h4>
        <table>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Required</th>
          </tr>
          {args.map((arg) => (
            <tr>
              <td>{arg.name}</td>
              <td>{arg.description}</td>
              <td>{arg.optional !== true ? '✅' : '❌'}</td>
            </tr>
          ))}
        </table>
      </span>
    )
  }
  {
    example && (
      <span class="example bold">
        Example:
        <code>
          /{name} {example}
        </code>
      </span>
    )
  }

  {
    image && (
      <details>
        <summary>Example image</summary>
        <Image src={image} alt="silly :3" />
      </details>
    )
  }
</span>

<hr />

<style>
  hr {
    border-color: #cdd6f4;
  }

  summary {
    cursor: pointer;
  }

  .command {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .bold {
    font-weight: 700;
  }
</style>
